/**
 * Component
 */


.page-title {
  margin-top: 60px;
  margin-bottom: 30px;
}

/* ============
Button 
============ */

.btn-primary {
  color: #fff;
  background-color: #f50000;
  border-color: #f50000;
}

.btn-primary:hover {
  color: #fff;
  background-color: #d30808;
  border-color: #d30808;
}

.btn-filter {
  color: #666;
  border-color: #666;
}
.btn-filter.active {
  color: #fff;
  background-color: #f50000;
  border-color: #f50000;
}

.button-group {

}
/* ============
Pagination 
============ */
.pagination {
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.page-link {
  color: #666;
}
.page-link.active {
  color: #f50000;
  font-weight: 500;
}