/**
 * Layout
 */

.content {
  min-height: 700px;
}

/* ============
Header 
============ */
.header {
  padding: 15px 0;
  border-bottom: 1px solid #e3e3e3;
}
.header .row {
  align-items: center;
}

.header .logo {
  width: 180px;
}

/* ============
Footer 
============ */
.footer {
  color: #ffffff;
  text-align: right;
  background: #3a221c;
  padding: 30px 0;
  width: 100%;
  /* position: fixed; */
  bottom: 0;
  height: 100px;
}

.footer p {
  font-size: 10px;
  margin-bottom: 0;
}
/* 
@media (min-width: 1200px) {
  .footer {
    height: 125px;
  }
} */
