/**
 * Form
 */

/* login form */
* {
  box-sizing: border-box;
}

.form_foo {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.section {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.sign_up_row {
  padding-left: 20px;
  gap: 10px;
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.user_agree {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  font-size: 14px;
}

.wrapper_sign_up {
  padding: 1.6rem;
  width: 550px;
  height: 550px;
  border-radius: 8px;
  position: relative;
}
.title {
  text-align: center;
  margin-bottom: 50px !important;
}

.form {
  width: 400px;
  margin: 0 auto;
}
.sign_up_label {
  display: block;
  width: 90px;
  font-size: 1rem;
}
.sign_up_input {
  width: 263px;
  height: 43px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  padding: 0 20px;
}
.label_id {
  width: 250px !important;
}

.signup_agree {
  color: dodgerblue;
  font-size: 15px;
  text-decoration: none;
}

.sign_up_btn_set {
  margin-top: 80px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.sign_up_btn_default,
.sign_up_btn {
  width: 180px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
}
.sign_up_valid_id {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  height: 40px;
}

.sign_up_btn_default {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  color: #000;
  background-color: #fff;
  border: 1px solid #ddd;
}
.sign_up_btn {
  background-color: #ddd;
  color: #fff;
  border: none;
}

#help_msg {
  text-align: left;
  position: absolute;
  right: -125px;
  bottom: 170px;
  width: 250px;
}
