{% extends 'base.html' %}

{% block title %}Honey Share | 상품상세{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="../static/images/" alt="" class="product-img">
    </div>
    <div class="col-md-6">
      <div class="button-group">
        <a href="#" class="btn btn-secondary">목록</a>
        <a href="#" class="btn btn-secondary">수정</a>
        <a href="#" class="btn btn-secondary">삭제</a>
      </div>
      <span class="badge badge-primary">데스크 꿀템</span>

      <div class="product-group">
        <h2 class="product-title">맥북프로 16형 2019년형 MVVM2KH/A 실버_JK</h2>
        <div class="product-item">
          <p class="product-label">가격</p>
          <p class="product-price">3,800,000원</p>
        </div>
        <div class="product-item">
          <p class="product-label">URL</p>
          <p class="product-link">http://item.gmarket.co.kr/Item?goodscode=1708626634
          </p>
        </div>
        <div class="product-item">
          <p class="product-label">등록자 평점</p>
          <p class="product-score">★★★★☆</p>
        </div>
        <div class="product-item">
          <p class="product-label">좋았던 점</p>
          <p class="product-desc">명불허전 맥북입니다. 일단 디자인이 이쁩니다. 말 다하지 않았나요? ㅎㅎㅎ</p>
        </div>
        <div class="product-item">
          <p class="product-label">꿀팁</p>
          <p class="product-desc">맥북 사용법 숙지하고 사용하시면 더욱 활용도 높게 사용 가능합니다.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}