<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body class="form_body">
    {% block form%}

    {% endblock form %}
    <div class="form_foo">
        {% include '_footer.html' %}
    </div>

    {% block script %}

    {% endblock script %}
</body>

</html>