{% extends 'form.html' %}
<!--  -->
{% block form %}
<section class="section">
    <div class="wrapper">
        <h1 class="title">안녕하세요? 허니쉐어 입니다 👋</h1>
        <form action="POST" class="form">
            <div class="form_row">
                <label for="id" class="label">아이디</label>
                <input type="text" name="id" class="input">
            </div>
            <div class="form_row">
                <label for=" password" class="label">비밀번호</label>
                <input type="password" name="password" class="input">
            </div>
            <a href="#" class="link_signup">아직 회원이 아니신가요?</a>
            <input type="submit" value="로그인" class="btn-primary form_btn ">
        </form>
    </div>
</section>
{% endblock form %}