<!-- footer include 예정 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>

<body>

    <section class="section_login">
        <div class="login">
            <h1 class="login_title">안녕하세요? 허니쉐어 입니다 👋</h1>
            <form action="POST" class="login_form">
                <div class="form_row">
                    <label for="id" class="login_label">아이디</label>
                    <input type="text" name="id" class="login_input">
                </div>
                <div class="form_row">
                    <label for=" password" class="login_label">비밀번호</label>
                    <input type="password" name="password" class="login_input">
                </div>
                <a href="#" class="link_signup">아직 회원이 아니신가요?</a>
                <input type="submit" value="로그인" class="btn-primary login_btn ">
            </form>
        </div>
    </section>
</body>

</html>