{% extends 'base.html' %}

{% block title %}Honey Share | 홈{% endblock %}
{% block content %}
<div class="main-banner">
    <div class="container">
        <div class="banner">
            <h3 class="h1 main-title">안녕하세요, {{user_info.username}}님! 허니쉐어입니다 🍯 </h3>
            <p class="main-desc">
                허니쉐어는 항해99 동안 완전한 몰입을 위해<br>
                좋은 꿀템리스트를 서로 쉐어하는 공유하는 곳 입니다
                내가 사용해 본 제품 중 좋은 제품이 있다면, <br>
                꿀템 등록버튼을 꾸욱 눌러서 언제든지 공유해주세요!
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="filter-group">
        <a class="btn btn-lg btn-filter" href="/main" id="main">추천 꿀템</a>
        <a class="btn btn-lg btn-filter" href="/desk_item" id="desk_item">데스크 꿀템</a>
        <a class="btn btn-lg btn-filter" href="/time_item" id="time_item">시간절약 꿀템</a>
        <a class="btn btn-lg btn-filter" href="/health_item" id="health_item">식품/건강 꿀템</a>
    </div>
    <div class="card-list">
        <div class="row">
            {% for post in posts %}
            <div class="col-md-4">
                <div class="card">
                    <a href="post/{{post.date}}">
                        <img src="{{post.image}}" alt="" class="card-img-top">
                        <div class="card-body">
                            <p class="product-desc text-truncate postname">{{post.postname}}</p>
                            <p class="product-price text-truncate">{{post.product_name}}</p>
                            <div class="card_bottom">
                                <div class="product-score">
                                    {{"★" if post.grade == '1' else "★★" if post.grade == '2' else "★★" if post.grade ==
                                    '2' else "★★★" if post.grade == '3' else "★★★★" if post.grade == '4' else "★★★★★" if
                                    post.grade == '5' else "❤️" }}
                                    <script>console.log("{{post.grade}}");</script>
                                </div>
                                <div class="createdAt">{{post.date}}</div>
                                <div class="product-score">{{post.userid.username}}</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script>
        console.log("%c첫 미니프로젝트! 8조 여러분 고생하셨습니다! [진효빈 예상기 최완호 하연후]", "background-image: linear-gradient(#f50000, #f50000); color: white; padding: 5px;");
        // 필터 active effect
        if ('{{categories}}' === "") {
            document.getElementById('main').classList.add('active')
        }
        if ('{{categories}}' === "desk_item") {
            document.getElementById('desk_item').classList.add('active')
        }
        if ('{{categories}}' === "time_item") {
            document.getElementById('time_item').classList.add('active')
        }
        if ('{{categories}}' === "health_item") {
            document.getElementById('health_item').classList.add('active')
        }
    </script>
</div>
{% endblock %}