{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="{{item.image}}" alt="" class="product-img">
    </div>
    <div class="col-md-6">
      <div class="button-group">
        <a href="#" class="btn btn-secondary">목록</a>
        <a href="#" class="btn btn-secondary">수정</a>
        <a href="#" class="btn btn-secondary">삭제</a>
      </div>
      <span class="badge badge-primary">{{item.categories}}</span>
      <div class="product-group">
        <h2 class="product-title">{{item.postname}}</h2>
        <div class="product-item">
          <p class="product-label">가격</p>
          <p class="product-price">{{item.postname}}</p>
        </div>
        <div class="product-item">
          <p class="product-label">상품 바로가기</p>
          <p class="product-link">{{item.mdurl}}
          </p>
        </div>
        <div class="product-item">
          <p class="product-label">등록자 평점</p>
          <p class="product-score">{{item.grade}}</p>
        </div>
        <div class="product-item">
          <p class="product-label">좋았던 점</p>
          <p class="product-desc">{{item.recommendation}}</p>
        </div>
        <div class="product-item">
          <p class="product-label">꿀팁</p>
          <p class="product-desc">{{item.honeytip}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  //
</script>
{% endblock content %}