{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="h1 page-title">꿀템 등록하기</h1>
  <div class="card">
    <div class="card-body">
      <form>
        <!-- 제목 -->
        <div class="form-group row">
          <label for="input-postname" class="col-sm-2 col-form-label">제목</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="input-postname">
            <p class="validation-message"></p>
          </div>
        </div>
        <!-- 작성자 -->
        <div class="form-group row">
          <label for="input-userid" class="col-sm-2 col-form-label">작성자</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="input-userid" value="{{userid}}" readonly>
          </div>
        </div>
        <!-- 카테고리 -->
        <div class="form-group row">
          <label for="input-category" class="col-sm-2 col-form-label">카테고리</label>
          <div class="col-sm-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radio-category" value="desk_item" id="radio-category1">
              <label class="form-check-label" for="radio-category1">데스크꿀템</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radio-category" value="time_item" id="radio-category2">
              <label class="form-check-label" for="radio-category2">시간절약꿀템</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radio-category" value="health_item"
                id="radio-category3">
              <label class="form-check-label" for="radio-category3">식품/건강꿀템</label>
            </div>
            <p class="validation-message"></p>
          </div>
        </div>
        <!-- URL -->
        <div class="form-group row">
          <label for="input-url" class="col-sm-2 col-form-label">URL</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="input-url">
            <p class="validation-message"></p>
          </div>
        </div>
        <!-- 평점 -->
        <div class="form-group row">
          <label for="input-score" class="col-sm-2 col-form-label">평점</label>
          <div class="col-sm-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radio-score" value="1" id="radio-score1">
              <label class="form-check-label" for="radio-score1">1점</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radio-score" value="2" id="radio-score2">
              <label class="form-check-label" for="radio-score2">2점</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radio-score" value="3" id="radio-score3">
              <label class="form-check-label" for="radio-score3">3점</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radio-score" value="4" id="radio-score4">
              <label class="form-check-label" for="radio-score4">4점</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radio-score" value="5" id="radio-score5">
              <label class="form-check-label" for="radio-score5">5점</label>
            </div>
            <p class="validation-message"></p>
          </div>
        </div>
        <!-- 좋았던 점 -->
        <div class="form-group row">
          <label for="input-recommendation" class="col-sm-2 col-form-label">좋았던 점</label>
          <div class="col-sm-10">
            <textarea id="input-recommendation" rows="8" cols="50" class="form-control"></textarea>
            <p class="validation-message"></p>
          </div>
        </div>
        <!-- 꿀팁 -->
        <div class="form-group row">
          <label for="input-honeytip" class="col-sm-2 col-form-label">꿀팁</label>
          <div class="col-sm-10">
            <textarea id="input-honeytip" rows="8" cols="50" class="form-control"></textarea>
            <p class="validation-message"></p>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="button-group mt-4 mb-5 text-center">
    <a href="/" class="btn btn-lg btn-outline-secondary">목록</a>
    <button type="button" onclick="clickFunct()" class="btn btn-lg btn-primary">꿀템등록</button>
  </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
  function clickFunct() {
    registerValdation()
    post()
  }

  // 폼 벨리데이션
  function registerValdation() {
    let postnameSelct = $("#input-postname")
    let useridSelct = $("#input-userid")
    let categoriesSelct = $("input[name='radio-category']:checked")
    let mdurlSelct = $("#input-url")
    let gradeSelct = $("input[name='radio-score']:checked")
    let recommendationSelct = $("#input-recommendation")
    let honeytipSelct = $("#input-honeytip")

    let postname_val = postnameSelct.val()        // 글제목
    let userid_val = useridSelct.val()          // 작성자
    let categories_val = categoriesSelct.val()      // 카테고리
    let mdurl_val = mdurlSelct.val()           // URL
    let grade_val = gradeSelct.val()           // 평점
    let recommendation_val = recommendationSelct.val()  // 좋았던 점
    let honeytip_val = honeytipSelct.val()        // 꿀팁     

    // == 1. postname
    if (postname_val == "") {
      postnameSelct.siblings(".validation-message").text("제목을 입력해주세요.")
      postnameSelct.focus()
      return;
    } else {
      postnameSelct.text("")
    }

    // == 2. categories
    if (categories_val == undefined) {
      $("input[name='radio-category']").parent().siblings(".validation-message").text("카테고리를 선택해주세요.")
      return;
    } else {
      categoriesSelct.text("")
    }

    // == 3. mdurl
    if (mdurl_val == "") {
      mdurlSelct.siblings(".validation-message").text("공유하고 싶은 상품링크를 입력해주세요.")
      mdurlSelct.focus()
      return;
    } else {
      mdurlSelct.text("")
    }

    // == 4. grade
    if (grade_val == undefined) {
      $("input[name='radio-score']").parent().siblings(".validation-message").text("평점을 선택해주세요.")
      return;
    } else {
      gradeSelct.text("")
    }

    // == 5. postname
    if (recommendation_val == "") {
      recommendationSelct.siblings(".validation-message").text("좋았던 점을 입력해주세요.")
      recommendationSelct.focus()
      return;
    } else {
      recommendationSelct.text("")
    }

    // == 6. honeytip
    if (honeytip_val == "") {
      honeytipSelct.siblings(".validation-message").text("꿀팁을 입력해주세요.")
      honeytipSelct.focus()
      return;
    } else {
      honeytipSelct.text("")
    }
  }

  // 포스트
  function post() {
    let postname_val = $("#input-postname").val()                      // 글제목
    let userid_val = $("#input-userid").val()                        // 작성자
    let categories_val = $("input[name='radio-category']:checked").val() // 카테고리
    let mdurl_val = $("#input-url").val()                           // URL
    let grade_val = $("input[name='radio-score']:checked").val()    // 평점
    let recommendation_val = $("#input-recommendation").val()                // 좋았던 점
    let honeytip_val = $("#input-honeytip").val()                      // 꿀팁
    let today = new Date()

    $.ajax({
      type: "POST",
      url: "/post",
      data: {
        postname: postname_val,
        userid: userid_val,
        categories: categories_val,
        mdurl: mdurl_val,
        grade: grade_val,
        recommendation: recommendation_val,
        honeytip: honeytip_val,
        date: Date.now()
      },
      success: function (response) {
        window.location.href = "/"
        alert('꿀템이 등록되었습니다!');
      }
    })
  }
</script>
{% endblock javascripts %}