{% extends 'base.html' %}
{% block content %}

<section class="section">
    <div class="wrapper_sign_up ">
        <h1 class="title">환영합니다 👋</h1>
        <div class="sign_up_row">
            <label for="id" class="sign_up_label ">아이디</label>
            <input type="text" name="id" class="sign_up_input" id="userid" onkeyup="submitValid()">
            <div class="help_msg"></div>
            <button class="sign_up_valid_id" id="valid_btn" onclick="validUserId()">중복확인</button>
        </div>
        <div class="sign_up_row">
            <label for="name" class="sign_up_label">이름</label>
            <input type="text" name="name" class="sign_up_input" id="username">
        </div>
        <br />
        <div class="sign_up_row">
            <label for=" password" class="sign_up_label">비밀번호</label>
            <input type="password" name="password" class="sign_up_input" id="userpw">
        </div>
        <div class="sign_up_row">
            <label for=" password" class="sign_up_label">비밀번호 확인</label>
            <input type="password" name="password" class="sign_up_input" id="userRePw" onkeyup="validPw()">
        </div>
        <div id="help_msg"></div>

        <div class="user_agree">
            <a href="#" class="signup_agree"> 이용 약관에 동의합니다.</a>
            <input type="checkbox">
        </div>
        <div class="sign_up_btn_set">
            <a href="/" class="sign_up_btn_default">이전</a>
            <button class="sign_up_btn" onclick="getSignup()" id="submit_btn" disabled>완료</button>
        </div>
    </div>
</section>

<!-- script -->
<script>
    //  회원가입 완료
    function getSignup() {
        $.ajax({
            type: 'POST',
            url: '/signup',
            data: {
                id: $('#userid').val(),
                pw: $('#userpw').val(),
                name: $('#username').val(),
            },
            success: function (res) {
                if (res['result'] == 'success') {
                    alert('회원가입이 완료되었습니다.');
                    window.location.replace("/")
                } else {
                    alert(res['msg']);
                }
            },
        });
    }
    function validUserId() {
        $.ajax({
            type: 'POST',
            url: '/signup/check_dup',
            data: {
                id: $('#userid').val(),
            },
            success: function (res) {
                if (res.exists === true) {
                    alert("이미 존재하는 아이디입니다.")
                    document.getElementById('userid').value = "";
                } else {
                    alert("사용가능한 아이디입니다")
                }
            },
        });
    }



    // 비밀번호 유효성 체크
    const validPw = () => {
        const pw = document.getElementById('userpw').value
        const rePw = document.getElementById('userRePw').value
        const submitBtn = document.getElementById('submit_btn')

        if (pw !== rePw) {
            document.getElementById('help_msg').innerText = "비밀번호가 일치하지 않아요"
            submitBtn.disabled = true
            submitBtn.style.backgroundColor = "#ddd"

        }
        if (pw === rePw) {
            document.getElementById('help_msg').innerText = "비밀번호가 일치합니다"
            submitBtn.disabled = false
            submitBtn.style.backgroundColor = "#F50000"
        }
    }


    const submitValid = () => {
        const id = document.getElementById('userid').value
        const name = document.getElementById('username').value
        const submitBtn = document.getElementById('submit_btn')

        if (id === "") {
            submitBtn.disabled = true
            submitBtn.style.backgroundColor = "#ddd"
        }
        if (id !== "" && name !== "") {
            submitBtn.disabled = false
            submitBtn.style.backgroundColor = "#f50000"
        }
    }







</script>

{% endblock content %}